* {
  margin: 0%;
  padding: 0%;
}

.navbar {
  background-color: rgb(245, 247, 248) !important;
}

.register-nav {
  display: flex;
  align-items: center;
  margin-left: 2%;
  padding: 0%;
}

.sign-up {
  display: block;
  border-right: 1px dotted black;
  padding-right: 10%;
  font-size: 16px;
}

.sign-up:hover{
    color: rgb(76, 132, 0);
}

.long-in {
  display: block;
  font-size: 16px;
}

.long-in.long-in:hover {
    color: rgb(76, 132, 0);
}



.second-navbar {
  background-color: rgb(245, 247, 248);
}

.nav-tittle {
  display: inline;
  margin-left: 2.2%;
  color: rgb(76, 132, 0);
}

.nav-list {
  display: inline;
}

.nav-links {
  display: inline;
  font-size: 20px;
  margin-right: 1.3%;
}

.main-link{
    text-decoration: none;
    color: black;
}

.main-link:hover {
    color: rgb(76, 132, 0);
}

/* section  */

.home-tittle {
  text-align: center;
  background-color: rgb(245, 247, 248);
  font-size: 50px;
  padding: 5%;
  color: rgb(76, 132, 0);
  margin-bottom: 0%;
}

.shop-link-button {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  padding: 0%;
  background-color: rgb(245, 247, 248);
}
.shop-link {
  text-decoration: none;
}

.shop-link:hover {
  background-color: darkgreen !important;
  color: #ffff;;
}

.btn {
  background-color: rgb(76, 132, 0);
  color: #ffff;;
  font-size: 24px;
  padding: 0.9rem;
}

.image-container {
  padding: 10px;
  background-color: rgb(245, 247, 248);
}

/* preview section */

.preview-title {
  margin: 4%;
}

.container {
  display: grid;
  gap: 10px;
  width: 60%;
  grid-template-columns: repeat(6, 1fr);
}

.itemn {
  object-fit: cover;
}

.itemn1 {
  grid-column: span 2;
  grid-row: span 20;
  height: 550px;
}

.itemn2 {
  grid-column: span 2;
  height: 290px;
}

.itemn3 {
  grid-column: span 2;
  height: 290px;
}

.itemn4 {
  grid-column: span 2;
  height: 250px;
}

.itemn5 {
  grid-column: span 2;
  height: 250px;
}

/* footer navbar  */

.footer {
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}


/* form */
form {
  font-family: Arial;
}

.container-sub {
  padding: 10px;
  background-color: rgb(76, 132, 0);
}

input[type='text'],
input[type='submit'] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type='checkbox'] {
  margin-top: 16px;
}

input[type='submit'] {
  width: 35%;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: rgb(76, 132, 0);
  border: none;
}

#subscribe-button {
  display: flex;
  justify-content: center;
}

input[type='submit']:hover {
  opacity: 0.8;
}

/* footer fiters */
.box2 {
  background-color: rgb(76, 132, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18%;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

.footer-item {
  font-size: 20px;
  color: #ffff;
}

.footer-tittle {
  text-align: center;
  color: #ffff;
}

.box3 {
  background-color: rgb(76, 132, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 25px;
}
