<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../Css-Folder/cart.css" />
  </head>
  <body>
    <header>
      <nav class="navbar bg-light">
        <div class="register-nav">
          <a class="navbar-brand long-in" href="../index.html">Log out</a>
        </div>
      </nav>
      <nav class="second-navbar">
        <h3 class="nav-tittle">Little Garden</h3>
        <ul class="nav-list">
          <a href="./shop.html" class="main-link">
            <li class="nav-links">Shop Now</li>
          </a>
          <a  class="main-link">
            <li class="nav-links">New</li>
          </a>
          <a href="" class="main-link">
            <li class="nav-links">About Us</li>
          </a>
        </ul>
      </nav>
    </header>
    <main class="checkout">
      <h2 class="checkout-title">Checkout</h2>

      <div class="checkout-grid">
        <div class="item item1">
            <form action="">
              <div class="form-container">
                <h2 style="margin-left: 2.8%;">Deliver at</h2>
                <hr />

                <div class="form1">
                  <input type="text" placeholder="First Name" name="name" id="name" required />

                  <input type="text" placeholder="Last Name" name="last" id="last" required />
                </div>

                <div class="form2">
                  <input type="text" placeholder="Enter Address" name="address" id="address" required />
                </div>

                <div class="form3">
                  <input type="text" placeholder="City" name="city" id="city" required />

                  <input type="text" placeholder="State" name="state" id="state" required />

                  <input type="text" placeholder="Postal Code" name="postal" id="postal" maxlength="5" required />
                </div>

                <div class="form4">
                  <input type="email" placeholder="Email" name="email" id="email" required />

                  <input type="text" placeholder="Phone Number" name="phone" id="phone" maxlength="10" required />
                </div>

                <hr />
                <h4 style="margin-left: 2.8%">Payment Method</h4>
                <hr />

                <div class="form5">
                  <input type="text" placeholder="Card Number" name="cardNum" id="cardNum" maxlength="12" required />

                  <input type="text" placeholder="MM/YY" name="my" id="my" maxlength="4" required />

                  <input type="text" placeholder="CVV" name="cvv" id="cvv" maxlength="3" required />
                </div>
                <hr />
                
                <div class="purchase-btn-container">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Place Order
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Order Details</h1>  
                        </div>
                        <div class="modal-body">
                            <p>Confirmation Number: #H255811-265-65665 </p>
                            <P>Arrives by Thu, Oct 3</P>
                            <P>Qty: 1 @ $20.00</P>
                        </div>
                        <div class="modal-footer">
                            <a href="./shop.html">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
        </div>

        <div class="item item2">
          <div>
            <div class="card" style="width: 20rem; margin-top: 2.4%;">
              <img
                src="https://i.pinimg.com/564x/65/4b/bb/654bbbd1bfaa6e03c76928385b0bcae8.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">In Your Bag</h5>
                <p class="card-text">Plant</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: $20</li>
                <li class="list-group-item">Estimated Shipping: $6.00</li>
                <li class="list-group-item">Total: $26.00</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
